services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\Tests\Behat\:
        resource: '../tests/Behat/*'

    fake_payment_method:
        class: App\Tests\Behat\Basket\FakePaymentMethod

    App\Domain\Payment\PaymentMethod: '@fake_payment_method'
